<div class="d-flex align-items-center" style="margin: 20px 10px;">
  <h3>お知らせ投稿</h3>
  <div class="ml-auto posts_button">
    <%= link_to "投稿一覧", register_news_index_path, class: "btn btn-outline-info" %>
  </div>
</div>

<%= form_with model: @news, local: true, url: register_news_index_path, autocomplete: 'off' do |form| %>
<div class="form-group row">
  <%= form.label :title, "タイトル", class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
</div>
<div class="field">
  <%= form.label :contents, "本文" %>
  <%= form.text_area :contents, 'data-provider': :summernote %>
</div>
<div style="margin: 20px 0;">
  <%= form.submit '投稿', class: 'btn btn-info btn-block' %>
</div>
<% end %>
